{% extends "entry-base.html" %}

{% block title %}用户登录{% endblock %}

{% block content %}
    <h3>用户登录</h3>
    <form class="gray-control" action="{% url "login" %}" method="post" autocomplete="off">
        <div class="form-group {% if login_form.errors.username %}errorput{% endif %}">
            <label> * User Name </label>
            <input type="text" class="form-control" name="username" value="{% if register_form.username.value %}{{ login_form.username.value }}{% endif %}" placeholder="请输入用户名或邮箱">
        </div>
        <div class="form-group {% if login_form.errors.password %}errorput{% endif %}">
            <label> * Password </label>
            <input type="password" class="form-control" name="password" value="{% if login_form.password.value %}{{ login_form.password.value }}{% endif %}" placeholder="请输入密码">
        </div>
        <div class="error btns login-form-tips alert alert-warning" style="text-align: center; {% if login_form.errors or msg  %} display:block; {% else %}display:none;{% endif %}" id="jsLoginTips">{% for key, error in login_form.errors.items %}{{ error }}{% endfor %}{{ msg }}</div>
        <a href="{% url "forget" %}" class="ftpwd right">忘记密码？</a>
        <div class="form-group">
            <button id="jsLoginBtn" type="submit" class="theme-btn btn-black">立即登录</button>
        </div>
        {% csrf_token %}
    </form>
    <p>没有账号？<a href="{% url "register" %}" class="new-reg">马上注册</a></p>
{% endblock %}